*.iml
.gradle
/local.properties
/.idea
/app/src/androidTest
/app/src/test
.DS_Store
/build
/captures
.externalNativeBuild

Будет удалено .idea/
Будет удалено app/libs/
Будет удалено app/src/androidTest/
Будет удалено app/src/main/assets/
Будет удалено app/src/test/